.home-pane {

    -fx-pref-width: 950;
    -fx-pref-height: 740;
    -fx-background-color: white;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #3aaacc;

    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view {
    -fx-background-color: transparent;
    -fx-border-color: all-dialog-border-color;
    -fx-border-width: 1;
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header-background{
    -fx-background-color: white;
}

.table-row-cell
{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}
.table-column {
    -fx-alignment: CENTER;
}


.table-view .column-header-background .label{
    -fx-background-color: #3aaacc;
    -fx-text-fill: black;
    -fx-padding:7;
    -fx-font-size:18;
}
.panes {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}